<nav class="navbar">
  <div class="navbar-container">
    <!-- Logo -->
    <div class="navbar-logo">
      <a routerLink="/">MiniStore</a>
    </div>

    <!-- Navigation Links -->
    <ul class="navbar-links">
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/products">Products</a></li>

      <div class="dropdown-container">
        <div class="dropdown-label">Categories</div>
        <ul class="dropdown-list">
          <li *ngFor="let element of catergoriesList" (click)="onCatergoryList(element)">{{element}}</li>
        </ul>
      </div>
      
      

      <li><a routerLink="/offers">Offers</a></li>
    </ul>

    <!-- Icons for Actions -->
    <div class="navbar-actions">
      <a routerLink="/favorites" class="icon"><i class="fa fa-heart"></i></a>
      <a routerLink="/cart" class="icon">
        <i class="fa fa-shopping-cart"></i>
        <span class="cart-count">2</span>
      </a>
      <a routerLink="/login" class="icon"><i class="fa fa-user"></i></a>
    </div>
  </div>
</nav>

<div class="slider-container">
  <!-- Image Slide -->
  <div class="slider">
    <img [src]="images[currentIndex]" alt="Slider Image" class="slider-image" />
  </div>

  <!-- Navigation Buttons -->
  <div class="slider-controls">
    <button (click)="prevImage()" class="prev-btn">❮</button>
    <button (click)="nextImage()" class="next-btn">❯</button>
  </div>
</div>

<router-outlet></router-outlet>

