<div class="panel">

  <div class="left-panel">
    <button class="btn-new" (click)="openSidePanel()">Add</button>

    <div class="card-container" >
      <div class="card" *ngFor="let element of productList">
        <img [src]="element.thumbnail" alt=" " class="card-image" />
        <div class="card-content">
          <h3> {{element.title}} </h3>
          <!-- <p>{{element.description}} </p> -->
          <p class="price">{{element.price}} | currency </p>
          <button>Add to Cart</button>
        </div>
      </div>
    </div>

  </div>


  <div class="right-panel" *ngIf="isSidePanelVisible">
    <button class="btn-close" (click)="closeSidePanel()">Close</button>
    <form (ngSubmit)="onSubmit(productForm)" #productForm="ngForm" >
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" id="title" name="title" [(ngModel)]="productObj.title" required />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" name="description" [(ngModel)]="productObj.description" required></textarea>
      </div>
      <div class="form-group">
        <label for="category">Category</label>
        <select id="category" name="category" [(ngModel)]="productObj.category" required>
          <option *ngFor="let element of categoryList" [value]="element">{{element}}</option>
        </select>
        <!-- <input type="text" id="category" name="category" [(ngModel)]="productObj.category" required /> -->
      </div>


      <!-- New Image Input Field -->
      <div class="form-group">
        <label for="thumbnail">Product Image</label>
        <input type="file" id="thumbnail" name="thumbnail" [(ngModel)]="productObj.thumbnail"  (change)="onFileSelect($event)"  required />
        <!-- (change)="onFileSelect($event)" -->
      </div>



      <div class="form-group">
        <label for="price">Price</label>
        <input type="number" id="price" name="price" [(ngModel)]="productObj.price" required />
      </div>

      <div class="form-group">
        <label for="brand">Brand</label>
        <input type="text" id="brand" name="brand" [(ngModel)]="productObj.brand" required />
      </div>
      <div class="form-group">
        <label for="sku">SKU</label>
        <input type="text" id="sku" name="sku" [(ngModel)]="productObj.sku" required />
      </div>
      <div class="form-group">
        <label for="weight">Weight</label>
        <input type="number" id="weight" name="weight" [(ngModel)]="productObj.weight" required />
      </div>
      <div class="form-group">
        <label for="warrantyInformation">Warranty Information</label>
        <input type="text" id="warrantyInformation" name="warrantyInformation"
          [(ngModel)]="productObj.warrantyInformation" required />
      </div>
      <div class="form-group">
        <label for="returnPolicy">Return Policy</label>
        <input type="text" id="returnPolicy" name="returnPolicy" [(ngModel)]="productObj.returnPolicy" required />
      </div>

      <!-- <div class="form-group">
        <label for="thumbnail">Thumbnail URL</label>
        <input type="text" id="thumbnail" name="thumbnail" [(ngModel)]="productObj.thumbnail" required />
      </div> -->
      <button type="submit" [disabled]="!productForm.valid" class="submit-btn">Submit</button>
    </form>
  </div>
</div>