<div class="panel">

  <div class="left-panel">
    <div class="title">
      <h2>Add Product</h2>
    <button class="btn-new" (click)="openSidePanel()">Add</button>
    </div>
    

    <div class="card-container">
      <div class="card" *ngFor="let element of productList">
        <div class="card-img">
        <img [src]="element.thumbnail" alt=" " class="card-image" /></div>
        <div class="card-content">
          <h3> {{element.title}} </h3>
          <!-- <p>{{element.description}} </p> -->
          <p class="price"><b>Price: </b>${{element.price}}</p>
          <button (click)="onEdit(element)" class="edit-product">Edit</button>
          <button (click)="onDelete(element.id)" class="delete-product">Delete</button>
        </div>
      </div>
    </div>

  </div>




  <div class="right-panel" *ngIf="isSidePanelVisible">
    
    <div class="right-title">
      
      <button class="btn-close" (click)="closeSidePanel()">Close</button>
    </div>
    <form (ngSubmit)="onSubmit(productForm)" #productForm="ngForm">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" id="title" name="title" [(ngModel)]="productObj.title" required />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" name="description" [(ngModel)]="productObj.description" required></textarea>
      </div>

      <div class="form-group">
        <label for="category">Category</label>
        <select id="category" name="category" [(ngModel)]="productObj.category" required>
          <option *ngFor="let element of categoryList" [value]="element">{{element}}</option>
        </select>
        <!-- <input type="text" id="category" name="category" [(ngModel)]="productObj.category" required /> -->
      </div>


      <!-- New Image Input Field -->
      <div class="form-group">
        <label for="thumbnail">Product Image</label>
        <input type="text" id="thumbnail" name="thumbnail" [(ngModel)]="productObj.thumbnail"
          required />
        <!-- (change)="onFileSelect($event)" -->
      </div>



      <div class="form-group">
        <label for="price">Price</label>
        <input type="number" id="price" name="price" [(ngModel)]="productObj.price" required />
      </div>

      <div class="form-group">
        <label for="brand">Brand</label>
        <input type="text" id="brand" name="brand" [(ngModel)]="productObj.brand" required />
      </div>
      
      <div class="form-group">
        <label for="sku">SKU</label>
        <input type="text" id="sku" name="sku" [(ngModel)]="productObj.sku" required />
      </div>
      <div class="form-group">
        <label for="weight">Weight</label>
        <input type="number" id="weight" name="weight" [(ngModel)]="productObj.weight" required />
      </div>
      <div class="form-group">
        <label for="warrantyInformation">Warranty Information</label>
        <input type="text" id="warrantyInformation" name="warrantyInformation"
          [(ngModel)]="productObj.warrantyInformation" required />
      </div>
      <div class="form-group">
        <label for="returnPolicy">Return Policy</label>
        <input type="text" id="returnPolicy" name="returnPolicy" [(ngModel)]="productObj.returnPolicy" required />
      </div>

      <!-- <div class="form-group">
        <label for="thumbnail">Thumbnail URL</label>
        <input type="text" id="thumbnail" name="thumbnail" [(ngModel)]="productObj.thumbnail" required />
      </div> -->
      <button type="submit" [disabled]="!productForm.valid" *ngIf="productObj.id === 0" class="submit-btn">Submit</button>
      <button type="button" [disabled]="!productForm.valid" *ngIf="productObj.id !== 0" (click)="onUpdate()" class="submit-btn" >Update</button>

    </form>
  </div>
</div>