<div class="slider-container">
    <!-- Image Slide -->
    <div class="slider">
        <img [src]="images[currentIndex]" alt="Slider Image" class="slider-image" />
    </div>

    <!-- Navigation Buttons -->
    <div class="slider-controls">
        <button (click)="prevImage()" class="prev-btn">❮</button>
        <button (click)="nextImage()" class="next-btn">❯</button>
    </div>
</div>












<div class="title-container">
    <span class="icon">
        <i class="fas fa-gift"></i>
    </span>
    <h2>New Arrivals</h2>
</div>



<div class="top-items">


    <div class="container">
        <div class="image-container">
            <img src="https://cdn.dummyjson.com/products/images/mens-watches/Rolex%20Cellini%20Moonphase/1.png"
                alt="Stylish Image" (click)="onCatergoryList('mens-watches')" class="image" />
        </div>
        <h3>Watch</h3>
    </div>

    <div class="container">
        <div class="image-container">
            <img src="https://cdn.dummyjson.com/products/images/mens-shoes/Sports%20Sneakers%20Off%20White%20&%20Red/1.png"
                alt="Stylish Image" (click)="onCatergoryList('beauty')" class="image" />
        </div>
        <h3>Shoes</h3>
    </div>

    <div class="container">
        <div class="image-container">
            <img src="https://cdn.dummyjson.com/products/images/beauty/Red%20Lipstick/1.png" alt="Stylish Image"
                (click)="onCatergoryList('beauty')" class="image" />
        </div>
        <h3>Beauty</h3>
    </div>

    <div class="container">
        <div class="image-container">
            <img src="https://cdn.dummyjson.com/products/images/womens-bags/Prada%20Women%20Bag/1.png"
                alt="Stylish Image" (click)="onCatergoryList('womens-bags')" class="image" />
        </div>
        <h3>Women-Bag</h3>
    </div>

    <div class="container">
        <div class="image-container">
            <img src="https://cdn.dummyjson.com/products/images/sunglasses/Black%20Sun%20Glasses/1.png"
                alt="Stylish Image" (click)="onCatergoryList('sunglasses')" class="image" />
        </div>
        <h3>Sunglasses</h3>
    </div>

    <div class="container">
        <div class="image-container">
            <img src="https://cdn.dummyjson.com/products/images/home-decoration/Family%20Tree%20Photo%20Frame/1.png"
                alt="Stylish Image" (click)="onCatergoryList('home-decoration')" class="image" />
        </div>
        <h3>Home-decoration</h3>
    </div>

    <!-- <div class="container">
        <div class="image-container">
            <img src="https://cdn.dummyjson.com/products/images/mobile-accessories/Amazon%20Echo%20Plus/1.png"
                alt="Stylish Image" (click)="onCatergoryList('mobile-accessories')" class="image" />
        </div>
        <p>mobile-accessories</p>
    </div> -->



</div>