<div class="favorites-container">
  <h2 class="favorites-heading">Your Favorite Items</h2>
  <div *ngFor="let item of favItems" class="favorite-item">
    <div class="item-image-container">
      <img [src]="item.thumbnail" alt="{{ item.title }}" class="favorite-item-image">
    </div>
    <div class="item-details">
      <p class="item-title">{{ item.title }}</p>
      <p class="item-description">{{ item.description }}</p>
      <p class="item-price"><b>Price: </b>${{ item.price }}</p>
      <button (click)="removeFromFav(item)" class="remove-btn">Remove</button>
      <button class="add-to-cart" (click)="addToCart(item)">
        <i class="fas fa-shopping-cart"></i> Add to Cart
    </button>
    </div>
  </div>
</div>



<!-- Add to Cart -->
<div class="cart-popup" *ngIf="showPopup">
  <div class="add-to-cart">
      <span class="fas fa-shopping-cart" id="cart"></span>
  </div>
</div>
